@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap');
*{
    padding: 0px;
    margin: 0px;
}    
body{
    overflow-x: hidden;
}
.content{
    display: flex;
    flex-direction: column;
 height: 3336px;
 min-height: 100%;
 width: 100%;
 height: auto !important;
    margin: 0 auto 0 auto;
    
   
}
.header{
     width: 100%;
height: 96px;
display: flex;
flex-direction:row;
justify-content: center;

}
a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.logo-menu{
    display: flex;
    margin: 32px 132px;
}
.logotip{
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 36px;
   font-family: "Arvo", serif;
 font-weight: 700;
 font-style: normal;
}
.menu{
    flex-direction: row;
    justify-content: space-around;
    margin-left: 449px;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
}
.item{
margin-right: 20px;
}
.item:hover{
    color: rgb(174, 24, 23);
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-thickness: 2px ;
}

main{
    height: 3588px;
}
.blok-one{
    background-image: url(../img/fon-two.png);
    background-size: cover;
    background-repeat: no-repeat;
     width: 100%;
     height: 713px;
}
.blok-two{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.time-situ{
    display: flex;
}
.icon{width: 26px;
    height: 25px;
    }
    .situ{
        margin-left: 5px;
        color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 250;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
    }

    .zag-card{
        margin: 13px 111px;
        color: rgb(6, 6, 6);
        font-family: "Montserrat", sans-serif;
        font-size: 36px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0px;
        text-align:center;
    }
    .descript{
        margin-top: 53px;
    }
    .txt-zag{
        width: 821px;
        color: rgb(0, 0, 0);
font-family: "Montserrat", sans-serif;
font-size: 24px;
font-weight: 250;
line-height: 29px;
letter-spacing: 0px;
text-align: center;
    }
    .ter{
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
    .opn{
        margin-top: 8px;
        margin-right: 11px;
        color: rgb(0, 0, 0);
font-family: "Montserrat", sans-serif;
font-size: 36px;
font-weight: 400;
line-height: 44px;
letter-spacing: 0px;
text-align: center;
    }
    .blok-three{
        display: flex;
    justify-content: center;
    margin-top: 53px;
    }
    .zg-map{
        color: rgb(174, 24, 23);
font-family: "Montserrat", sans-serif;
font-size: 48px;
font-weight: 600;
line-height: 59px;
letter-spacing: 0px;
text-align: center;
    }
    .title-map{
        margin-top: 43px;
       
    }
    .zg-one{
        color: rgb(0, 0, 0);
font-family: "Montserrat", sans-serif;
font-size: 36px;
font-weight: 600;
line-height: 44px;
letter-spacing: 0px;
text-align: left;
    }
    .txt-one{
        width: 1017px;
height: 181px;
margin-top: 15px;
color: rgb(0, 0, 0);
font-family: "Montserrat", sans-serif;
font-size: 24px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0px;
text-align: left;
    }
    .txt{
        margin-top: 30px;
    }
    .txt-two{
        width: 790px;
        height: 181px;
        margin-top: 15px;
        color: rgb(0, 0, 0);
        font-family: "Montserrat", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        letter-spacing: 0px;
        text-align: left;
    }
    .blok-four{
        display: flex;
    justify-content: center;
    margin-top: 57px;
    }
    .slideshow-container{
        max-width: 1000px;
        position: relative;
        margin: auto;
    }
    
    .mySlider{
        display: none;
    }
    
    .prev, .next{
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -22px;
        padding: 16px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
    }
    
    .next{
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    
    .prev:hover, .next:hover{
        background-color: rgba(0,0,0,0.8);
    
    }
    .fade{
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade{
        from {opacity: .4}
        to {opacity: 1}
    }
    @keyframes fade{
        from {opacity: .4;}
        to{opacity: 1;}
    }

    .blok-five{
        display: flex;
        justify-content: center;
        margin-top: 53px;
    }

    .zg-calen{
        color: rgb(174, 24, 23);
font-family: "Montserrat", sans-serif;
font-size: 48px;
font-weight: 600;
line-height: 59px;
letter-spacing: 0px;
text-align: center;
    }
    :root {
        --calendar-bg-color: rgb(174, 24, 23);
        --calendar-font-color: #FFF;
        --weekdays-border-bottom-color: #404040;
        --calendar-date-hover-color: #505050;
        --calendar-current-date-color: #4B2D2D;
        --calendar-today-color: linear-gradient(to bottom, #03a9f4, #2196f3);
        --calendar-today-innerborder-color: transparent;
        --calendar-nextprev-bg-color: transparent;
        --next-prev-arrow-color : #FFF;
        --calendar-border-radius: 16px;
        --calendar-prevnext-date-color: #484848
    }
    
    * {
        padding: 0;
        margin: 0;
    }
    
    .calendar {
        font-family: 'IBM Plex Sans', sans-serif;
        position: relative;
        max-width: 400px; /*change as per your design need */
        min-width: 320px;
        background: var(--calendar-bg-color);
        color: var(--calendar-font-color);
        margin: 20px auto;
        box-sizing: border-box;
        overflow: hidden;
        font-weight: normal;
        
    }
    
    .calendar-inner {
        padding: 10px 10px;
    }
    
    .calendar .calendar-inner .calendar-body {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        text-align: center;
    }
    
    .calendar .calendar-inner .calendar-body div {
        padding: 4px;
        min-height: 30px;
        line-height: 30px;
        border: 1px solid transparent;
        margin: 10px 2px 0px;
    }
    
    .calendar .calendar-inner .calendar-body div:nth-child(-n+7) {
        border: 1px solid transparent;
        border-bottom: 1px solid var(--weekdays-border-bottom-color);
    }
    
    .calendar .calendar-inner .calendar-body div:nth-child(-n+7):hover {
        border: 1px solid transparent;
        border-bottom: 1px solid var(--weekdays-border-bottom-color);
    }
    
    .calendar .calendar-inner .calendar-body div>a {
        color: var(--calendar-font-color);
        text-decoration: none;
        display: flex;
        justify-content: center;
    }
    
    .calendar .calendar-inner .calendar-body div:hover {
        border: 1px solid var(--calendar-date-hover-color);
        border-radius: 4px;
    }
    
    .calendar .calendar-inner .calendar-body div.empty-dates:hover {
        border: 1px solid transparent;
    }
    
    .calendar .calendar-inner .calendar-controls {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .calendar .calendar-inner .calendar-today-date {
        display: grid;
        text-align: center;
        cursor: pointer;
        margin: 3px 0px;
        background: var(--calendar-current-date-color);
        padding: 8px 0px;
        border-radius: 10px;
        width: 80%;
        margin: auto;
    }
    
    .calendar .calendar-inner .calendar-controls .calendar-year-month {
        display: flex;
        min-width: 100px;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .calendar .calendar-inner .calendar-controls .calendar-next {
        text-align: right;
    }
    
    .calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-year-label,
    .calendar .calendar-inner .calendar-controls .calendar-year-month .calendar-month-label {
        font-weight: 500;
        font-size: 20px;
    }
    
    .calendar .calendar-inner .calendar-body .calendar-today {
        background: var(--calendar-today-color);
        border-radius: 4px;
    }
    
    .calendar .calendar-inner .calendar-body .calendar-today:hover {
        border: 1px solid transparent;
    }
    
    .calendar .calendar-inner .calendar-body .calendar-today a {
        outline: 2px solid var(--calendar-today-innerborder-color);
    }
    
    .calendar .calendar-inner .calendar-controls .calendar-next a,
    .calendar .calendar-inner .calendar-controls .calendar-prev a {
        color: var(--calendar-font-color);
        font-family: arial, consolas, sans-serif;
        font-size: 26px;
        text-decoration: none;
        padding: 4px 12px;
        display: inline-block;
        background: var(--calendar-nextprev-bg-color);
        margin: 10px 0 10px 0;
    }
    
    .calendar .calendar-inner .calendar-controls .calendar-next a svg,
    .calendar .calendar-inner .calendar-controls .calendar-prev a svg {
        height: 20px;
        width: 20px;
    }
    
    .calendar .calendar-inner .calendar-controls .calendar-next a svg path,
    .calendar .calendar-inner .calendar-controls .calendar-prev a svg path{
        fill: var(--next-prev-arrow-color);
    }
    
    .calendar .calendar-inner .calendar-body .prev-dates,
    .calendar .calendar-inner .calendar-body .next-dates {
        color: var(--calendar-prevnext-date-color);
    }
    
    .calendar .calendar-inner .calendar-body .prev-dates:hover,
    .calendar .calendar-inner .calendar-body .next-dates:hover {
      border: 1px solid transparent;
      pointer-events: none;
    }
    footer{
        position: absolute;
        margin-left: -500px;
        justify-content: center;
        display: flex;
        margin-top: 200px;
        width: 100%;
    }
    .footer-content{
    
    }
    .conatat{
        text-align: left;
        
    }
    .tv-cont{
        color: rgb(0, 0, 0);
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    }
    .nah_number{
        display: flex;
        margin-top: 10px;
    }
    .number{
        color: rgb(0, 0, 0);
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    }
    .telehon{
        margin-left: 10px;
        color: rgb(0, 0, 0);
        font-family:"Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: left;  
    }